.purple-bg {
    background: lavender;
}

.h1 {
    color: teal;
  
}
.class {
    background-color: purple;
}
.h3 {
    text-transform: uppercase;
}
.button {
    background-color: blueviolet;
    color: whitesmoke;
}