body {
    background: lavender;
}

h1 {
    color: purple;
    text-align: center;
  
}
.friend {
    background-color: purple;
    color: whitesmoke;
}
.friend {
    text-transform: uppercase;
}
button {
    background-color: purple;
    color: whitesmoke;
}
h3  {
    text-align: center;
}
